$sm: 640px; // large phones
$md: 768px; // tablets (portrait)
$lg: 1024px; // tablets / small laptops
$xl: 1280px; // desktops

.row {
  border-radius: var(--spacing-md);
  border: 0px solid black;
  background-color: var(--Neutral-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  font-size: 14px;
  color: var(--Neutral-50);

  .stack {
    display: flex;
    flex-direction: column;

    p {
      font-size: 12px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);

    .text {
      font-size: 12px;
      color: var(--Neutral-200);
    }

    .discard-button {
      width: 32px;
      height: 32px;
      border: 1px solid var(--Neutral-600);
      border-radius: var(--spacing-md);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        transition:
          border-color 300ms ease-in-out,
          background-color 300ms ease-in-out;
        border: 1px solid var(--red-500);
        background-color: var(--red-500);
        cursor: pointer;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }

    .button {
      width: 32px;
      height: 32px;
      border: 1px solid var(--Neutral-600);
      border-radius: var(--spacing-md);
      display: flex;
      align-items: center;
      justify-content: center;

      &.green {
        border: 1px solid var(--lime-500);
      }

      &:hover {
        transition: border-color 300ms ease-in-out;
        border: 1px solid var(--lime-500);
        cursor: pointer;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  img {
    width: 24px;
    height: 24px;
    border: 0px solid black;
    border-radius: 50%;
  }
}

.pair {
  display: flex;
  align-items: center;
  gap: 4px;

  .pair-image {
    width: 10px;
    height: 10px;
  }
}

.number-stack {
  display: flex;
  flex-direction: column;
  align-items: end;

  h4 {
    font-size: 16px;
  }

  span {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;

    p {
      font-size: 10px;
      color: var(--Neutral-200);

      &.green {
        color: var(--green-500);
      }

      &.red {
        color: var(--red-500);
      }
    }
  }
}

.currency-conversion-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  @media screen and (max-width: $md) {
    flex-direction: column;
    align-items: end;
  }

  .content {
    font-size: 16px;
  }

  .result {
    color: var(--lime-500);
    font-size: 16px;
  }
}

.log-time-conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);

  .log-time {
    color: var(--Neutral-200);
  }
}
