$sm: 640px; // large phones
$md: 768px; // tablets (portrait)
$lg: 1024px; // tablets / small laptops
$xl: 1280px; // desktops

.table {
  background-color: var(--Neutral-700);
  color: var(--Neutral-50);
  font-size: 14px;
  padding: var(--spacing-lg);
  border-radius: var(--spacing-lg);
  border: 0px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $md) {
      flex-direction: column;
      align-items: start;
    }

    .left {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);

      .left-header {
        color: var(--Neutral-200);
      }
    }
    .right {
      display: flex;
      gap: var(--spacing-md);
      align-items: center;

      @media screen and (max-width: $md) {
        justify-content: space-between;
        width: 100%;
      }

      p {
        color: var(--Neutral-200);
        font-size: 12px;
      }

      .button {
        background-color: var(--Neutral-400);
        border: 1px solid var(--Neutral-500);
        font-size: 12px;

        &:hover {
          background-color: var(--Neutral-500);
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-md);
  }
}

.card {
  background-color: var(--Neutral-700);
  color: var(--Neutral-200);
  font-size: 32px;
  padding: var(--spacing-lg);
  border-radius: var(--spacing-lg);
  border: 0px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $sm) {
    font-size: 14px;
  }

  h2 {
    font-size: var(--font-size-xl);
  }
}
