.field {
  background-color: var(--Neutral-600);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  border-radius: 20px;
  border: 1px var(--Neutral-400) solid;
  .label {
    color: var(--Neutral-100);
    font-size: 14px;
    font-weight: 700;
  }

  .input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
      color: var(--Neutral-50);
      font-size: 40px;
      width: 100%;

      outline: none;
      box-shadow: none;

      @media screen and (max-width: 768px) {
        font-size: 32px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        outline: none;
        box-shadow: none;
      }

      &:disabled {
        color: var(--Neutral-200);
      }

      &.receive {
        color: var(--lime-500);

        &:disabled {
          color: var(--color-lime-700);
        }
      }
    }
  }
}
