.history {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-lg);
    align-items: center;

    .cards {
      display: flex;
      gap: var(--spacing-lg);
      width: 100%;
    }

    .graph-buttons-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
