.history {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-lg);
    align-items: center;

    @media screen and (max-width: 830px) {
      display: flex;
      flex-direction: column;
    }

    .cards {
      display: flex;
      gap: var(--spacing-lg);
      width: 100%;

      @media screen and (max-width: 530px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: var(--spacing-md);
      }

      @media screen and (max-width: 375px) {
        gap: var(--spacing-lg);
      }
    }

    .graph-buttons-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @media screen and (max-width: 830px) {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
